@import "./componentes/header";
@import "custom";
@import "./base/reset";

$title_font: "Raleway", sans-serif;

body {
  font-family: $title_font;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
}

img {
  /* Para que imagenes se acomoden y se achiquen si se achica la pantalla */
  max-width: 100%;
}

img,
svg {
  /* centro de ellas mismas */
  vertical-align: middle;
}

.intro-section {
  grid-template-columns: auto auto;
  background-color: white;
  padding: 8rem 0 0 0;
}

.display-2 {
  text-transform: capitalize;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.display-2--intro {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.display-2--description {
  margin-top: 1.2rem;
  display: inline-block;
}

.imagenInicio {
  margin-top: 1rem;
  padding: 3rem;
  max-width: 100%;
  height: 900;
  vertical-align: center;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
}

.footer__img {
  width: 25px;
  padding: 0, 5rem;
}

.col {
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  color: grey;
}

.formulario {
  background-color: white;
  color: black;
  padding: 4rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero_img {
  width: 200px;
  margin: 2rem;
  padding: 0, 5rem;
  transform: rotate (360deg);
}

.estudio__info {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.estudio__renglon {
  display: inline-block;
  margin-left: 2rem;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.trabajos {
  margin: 2rem;
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  font-family: "Raleway", sans-serif;
}

/*  EXTEND */
.trabajo__titulo {
  @extend .trabajos;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.trabajo__descripcion {
  @extend .trabajos;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #3a3a3a;
}

.img {
  background-image: linear-gradient(top, grey, rgb(255, 255, 255));
}

.estudio-titulo {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.estudio-texto {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 1rem;
}

/* MAPA */
$redes: (
      linkeid: rgb(39, 39, 39) facebook: rgb(39, 39, 39) instagram:
        rgb(39, 39, 39),
    )
    @each $red,
  $color in $redes {
  .btn--#{$redes} {
  }
}

/* MIXINS */
@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

.trabajos {
  @include sizes(300px, 400px);
}
