.header-index {
  max-width: 1320px;
}

header {
  background-color: white;
  border-bottom: 0, 5px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #3a3a3a;
}

.header__logo {
  width: 130px;
  height: 130px;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 0.8rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

.nav ul li {
  display: inline-block;

  margin-left: 2rem;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.65;
}

span {
  /* TRANSICION */
  height: auto;
  transition: height 2s;
}

span:hover {
  height: 200px;
  opacity: 0.65;
}

ul {
  list-style: none;
}
